h2 {color:red; font-size: 36pt;}
p {color:blue; font-family: monospace;}
#titulo-1 {font-style: italic;}
#titulo-2 {font-size: 90;}

.base { 
  border: 2px dashed orangered; 
  padding: 1em 2em 3em 4 em ; 
  margin: 4em 3em 2em 1em ;
  margin-top: 4 em;
  margin-right: 3 em;
  padding-bottom: 3 em;
  padding-left: 4em;
  }


.ultimo {color: green}
p.ultimo {color: blueviolet}
.par.ultimo {font-weight: bold;}
h2, h3 {color: cornflowerblue; font-size: 36pt;}
.base > h2 {text-align: right;}
.base > p > span {text-decoration: underline;}
.base .ejemplo {font-family: sans-serif;}

/*. ejemplo comentario.. */
