<style>
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
</style>
html,body{height:100%}
body {font-family: 'Caveat', cursive;}
.main-title{text-align: center;
color: blueviolet;
 text-shadow: 2px 2px;
 transform: rotate(-3deg) } 
 .card {text-align: center;}
